<div class="aboutus-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="aboutus">
                    <h2 class="aboutus-title">Nosotros</h2>
                    <p class="aboutus-text">Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in.</p>
                    <p class="aboutus-text">This is Photoshop's version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem</p>
                    <a class="aboutus-more" href="#">read more</a>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="aboutus-banner">
                    <img src="../../../assets/img/peronas-turismo-2.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>