<br>
<br>
<div class="container">
    <h2 class="section-title">Ingresar Noticia</h2>
    <form [formGroup]="formGroup" id="formGroup" class="row" *ngIf="!NoticiaCreatedId">
        <div class="form-group col-6">
            <label for="titulo">Id de la Noticia</label>
            <input class="form-control" formControlName="Id" id="Id" readonly type="number">

        </div>
        <div class="form-group col-12">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" formControlName="Titulo" id="Titulo" placeholder="Escriba el título">
            <div *ngIf="formGroup.controls['Titulo'].dirty">
                <div class="form-control-feedback text-danger" *ngIf="formGroup.controls['Titulo'].errors?.required">
                    El título es requerido
                </div>
            </div>
        </div>
        <!-- <div class="form-group col-12">
            <label for="titulo">Imagen</label>
            <input type="text" class="form-control" formControlName="Imagen" id="Imagen" placeholder="Escriba la url de la imagen">
            <div *ngIf="formGroup.controls['Imagen'].dirty">
                <div class="form-control-feedback text-danger" *ngIf="formGroup.controls['Imagen'].errors?.required">
                    La url de la imagen es requerida
                </div>
            </div>
        </div> -->
        <div class="form-group col-12">
            <label for="titulo">Descripción</label>
            <input type="text" class="form-control" formControlName="Descripcion" id="Descripcion" placeholder="Escriba la descripción">
            <div *ngIf="formGroup.controls['Descripcion'].dirty">
                <div class="form-control-feedback text-danger" *ngIf="formGroup.controls['Descripcion'].errors?.required">
                    La descripción es requerida
                </div>
                <div class="form-control-feedback text-danger" *ngIf="formGroup.controls['Descripcion'].errors?.minlength">
                    La descripción debe ser de almenos 15 caracteres
                </div>
            </div>
        </div>
        <div class="form-group col-6">
            <label for="titulo">Fecha Creación</label>
            <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker formControlName="FechaCreacion" id="FechaCreacion">
        </div>
        <div class="form-group col-6">
            <label for="titulo">Fecha Creación</label>
            <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker formControlName="UltimaModificacion" id="UltimaModificacion">
        </div>

        <button type="submit" class="btn green float-right m-b-5" [ngClass]="{'disabled':!formGroup.valid}" (click)="guardarData()">Guardar</button>
    </form>

    <form [formGroup]="formGroupNoticiasEditImagenes" *ngIf="NoticiaCreatedId" id="formGroupNoticiasEditImagenes" class="row">
        <div class="form-group  col-12" formArrayName="imagenes">
            <label for="titulo">Imagenes</label>
            <div *ngIf="formGroupNoticiasEditImagenes.controls['imagenes'].dirty">
                <div class="form-control-feedback text-danger" *ngIf="formGroupNoticiasEditImagenes.controls['imagenes'].errors?.required">
                    Debe completar la url de cada imagen
                </div>
            </div>

            <div class="form-group col-12" *ngIf="currentUpload">
                <div class="progress">
                    <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
                </div>
                {{currentUpload?.name}} Progreso: | {{currentUpload?.progress | number:'2.2-2'}}% avance
            </div>

            <div class="form-group col-12 custom-file mb-3">
                <input type="file" class="custom-file-input" id="customFile" (change)="detectFiles($event)">
                <label class="custom-file-label" for="customFile">Seleccionar imagen</label>
            </div>

            <button class="btn btn-outline-primary mb-3  btn-sm" [disabled]="!selectedFiles" (click)="uploadSingle()">
      Agregar archivo
    </button>
        </div>
    </form>
</div>